<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>KYC-Check</title>
    </head>
    <header>
        <div class="header_txt">
            <h2>KYC-Check</h2>
        </div>
    </header>
    <body>

        <div class="fst_text">
            <p>Write the name of a person you would want to pep-check.</p>
        </div>

        <form action="search" method="post">
            <label><b>Enter Name: </b>
            <input type="text" id="name" placeholder="Name" name="person"></label> <br>
            <input type="submit" value="Check">
        </form><br>

    </body>
</html>