<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <link rel="stylesheet" href="styles.css">
        <meta charset="UTF-8">
        <title>KYC-Check</title>
    </head>
    <header>
        <div class="header_txt">
            <h1>Pep-Check</h1>
        </div>
    </header>
    <body>

        <div class="fst_text">
            <p>Write the name of a person you would want to pep-check.</p>
        </div>

        <div class="container">
            <form action="search" method="post">
                <input type="text" id="name" placeholder="Enter Name" name="person" class="search-bar">
                <input type="submit" value="Check" class="search-button">
            </form><br>
        </div>
    </body>
</html>
