<!DOCTYPE HTML>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <link rel="stylesheet" href="styles.css">
        <meta charset="UTF-8">
        <title>Information</title>
    </head>
    <header>
        <h1 class="header_txt">Information</h1>
    </header>
<body>
    <div class="param">
        <p th:text="${personInfo}">Name</p>
        <p th:text="${googleInfo}">GoogleInfo</p>
    </div>

    <br><button class="start_page_button" onclick="window.location.href = '/';">
        Go Back!
    </button>
</body>
</html>